.btn a:hover {
    color: black;
}

h1,

h5 {
    color: rgb(255, 255, 255);
}



.text,
.card-title {
    width: 50%;
    padding: 2rem;
    height: 50%;
}

p {
    font-size: 24px;
}

.title {
    color: white;
}