footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: black;
    background: white;
    height: 2rem;
}

li {
    list-style: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #000000;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #161616;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: rgb(12, 142, 248);
}

p {
    color: black;
}