@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  text-align: center;
  background: black url('./assets/10.jpg') center / cover;
  width: 100%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
}



@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;

}

@include mobile {

  body {
    width: 100%
  }

}